<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kavya, Stock Market Stock Broking , Online Trading, BSE , NSE, IPOddgdsfgdfgdfsgfsdgsgfgs</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
   
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")' class="navbar-brand">
                    <img src='@Url.Content("~/Content/Images/Logo.jpg")' height="80" width="80" />
                </a>

                @*@Html.ActionLink("Stock Trading", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Market", "Index", "Home")</li>
                    <li>@Html.ActionLink("My Portfolio", "Porfolio", "Porfolio")</li>
                    <li>@Html.ActionLink("Research", "Research", "Research")</li>
                    <li>@Html.ActionLink("Trade Now", "About", "TradeNow")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Stock Trading Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
